#add{
    padding: 2rem;
    border: 1px solid black;
    border-radius: 2rem;
    width: 5rem;
    cursor: pointer;
    color: yellow;
    display: inline-block;
}

#add:hover{
    background-color: red;
    color: green;
}
